body {
    margin: 0;
    padding: 0;
    background: #121212;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    overflow: hidden;
}

canvas {
    overflow: hidden;
    margin: 0;
    padding: 0;
}