@import './styles/tailwind.css';
@import './styles/fonts.scss';
@import './styles/colors.scss';
@import './styles/typography.scss';
@import './styles/highlights.scss';

body {
	background-color: $dark;
	color: $light;
	font-family: 'Montserrat';
}

button {
	@apply p-1 rounded-lg text-xs font-bold hover:bg-primary border border-solid border-light;
}
