@import './styles/tailwind.css';
@import './styles/fonts.scss';
@import './styles/colors.scss';
@import './styles/typography.scss';

body {
	background-color: $dark;
	color: $light;
	font-family: 'Montserrat';
}
